NODE_ENV=development
SERVICE_NAME=dynamic-form
SERVER_PORT=4000

MAIN_DB_HOST=127.0.0.1
MAIN_DB_PORT=5440
MAIN_DB_NAME=postgres
MAIN_DB_USERNAME=
MAIN_DB_PASSWORD=
MAIN_DB_ENGINE=postgres

IS_TRACING=false       # with LOKI Tracing (Logging)
TRACING_URI=http://127.0.0.1:4318/v1/traces
LOGGING_URI=http://127.0.0.1:3100

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

SUPER_USERNAME=
SUPER_EMAIL=
SUPER_PASSWORD=

REFRESH_TOKEN=
JWT_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=
NUMBER_OF_ALLOWED_SESSIONS=
ENCRYPTION_SALT=

API_TOKEN=
